@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&family=Square+Peg&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Square Peg', cursive;
  font-size: 30px;
  background: url(./img/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

ul {
  list-style: none;
}

.navigations a {
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(to left, #3e5151,#decba4);
  -webkit-background-clip: text;
  color: transparent;
  padding: 2px 5px;
  text-align: center;
  border-radius: 5px;
  border-bottom: 1px solid black;
}

header {
  padding: 1% 10%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigations {
  width: 40%;
  display: flex;
  gap: 20%;
}

.navigations li {
  font-size: 26px;
  font-weight: bold;
}

.page-title {
  font-size: 45px;
  background: url(./img/tom3.jpg);
  background-size: contain;
  -webkit-background-clip: text;
  color: transparent;
}

h6 {
  width: max-content;
  font-size: 10px;
  position: relative;
  font-family: 'Source Code Pro', monospace;
}

.books-wrapper {
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
}

.books {
  width: 30%;
  display: none;
  margin-top: 4%;
}

form h3 {
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(to left, #3e5151, #decba4);
  -webkit-background-clip: text;
  color: transparent;
}

.books h3 {
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(to left, #3e5151, #decba4);
  -webkit-background-clip: text;
  color: transparent;
}

table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

thead tr {
  display: flex;
  gap: 60px;
}

tbody tr {
  display: flex;
  gap: 60px;
  align-items: center;
}

tbody tr:nth-child(last) {
  align-self: flex-start;
}

tbody tr td {
  margin-bottom: 20px;
}

.add-form {
  display: none;
}

form {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}

form input {
  display: block;
  margin-bottom: 20px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  font-family: 'Square Peg', cursive;
  color: black;
  font-size: 25px;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.btn-danger {
  display: inline-block;
  text-decoration: none;
  padding: 2px 10px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.add-btn {
  padding: 5px;
  width: 50%;
  text-align: center;
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
  align-self: center;
  font-family: 'Square Peg', cursive;
  font-size: 25px;
}

.enabled {
  display: block;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 10% 5% 10%;
  gap: 30px;
  margin-top: 4%;
}

.about h3 {
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(to left, #3e5151, #decba4);
  -webkit-background-clip: text;
  color: transparent;
}

.disabled {
  display: none;
}

.about .description {
  text-align: center;
  width: 60%;
}

.about .contactus {
  text-align: center;
}

.me {
  display: flex;
  gap: 30px;
}

#success {
  display: block;
  font-size: 24px;
  background: linear-gradient(to right, #f12711, #f5af19);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 1% 8%;
  }

  .nav-bar {
    flex-direction: column;
  }

  .navigations {
    width: 100%;
    gap: 30%; 
    margin-top: 10%;
  }

  .books-wrapper {
    flex-direction: column-reverse;
    margin: auto;
    padding: 2% 20% 20% 5%;
  }

  .books {
    width: 100%;
    padding-right: 0;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
  }

  .add-btn {
    width: 30%;
  }

  form input {
    width: 100%;
  }
  .about {
    padding: 0;
    margin-top: 0;
  }
}

@media only screen and (max-width: 476px) {
  .navigations {
    width: 80%;
    gap: 10%;
  }
  table {
    transform: scaleX(0.65);
  }
}

h6::before,
h6::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h6::before {
  background: #f5f5dc;
  animation: typewritting 4s steps(23) 2s forwards;
}

h6::after {
  width: 0.125em;
  background: black;
  animation: typewritting 4s steps(23) 2s forwards, blink 750ms steps(23) infinite; /* stylelint-disable-line */
}

@keyframes typewritting {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
